<launch>
    <arg name="resolution" default="480"/>
    <arg name="exposure_mode" default="calibration"/>

    <node pkg="oak_ros" type="oak_ros" name="oak_ros" output="screen" respawn="false">
        <param name="resolution" value="$(arg resolution)"/>
        <param name="poe_mode" value="false"/>
        <param name="mesh_dir" type ="string" value=""/> 
        <param name="rectified" value="false"/> 
        <param name="exposure_mode" type = "string" value="$(arg exposure_mode)"/>
    </node>
</launch>
