<launch>
    <arg name="vehicle" default="S0"/>

    <node ns="$(arg vehicle)" pkg="oak_ros" type="oak_ros" name="oak_ros" output="screen" respawn="false">
        <param name="resolution" value="480"/>
        <param name="poe_mode" value="false"/>
        <param name="mesh_dir" type ="string" value="$(find oak_ros)/data"/> 
        <param name="exposure_mode" type = "string" value="auto"/>
    </node>
</launch>