<launch>
    <arg name="_uav_id" value="$(env UAV_GROUPNAME)" />
    <arg name="vehicle" default="$(arg _uav_id)"/>
    <arg name="resolution" default="480"/>
    <arg name="exposure_mode" default="manual"/>
    <arg name="shutter_speed_us" default="1000"/>
    <arg name="iso" default="300"/>

    <node ns="$(arg vehicle)" pkg="oak_ros" type="oak_ros" name="oak_ros" output="screen" respawn="false">
        <param name="resolution" value="$(arg resolution)"/>
        <param name="poe_mode" value="false"/>
        <param name="only_usb2_mode" value="true"/>
        <param name="mesh_dir" type ="string" value="$(find oak_ros)/data"/> 
        <param name="exposure_mode" type = "string" value="$(arg exposure_mode)"/>
        <param name="shutter_speed_us" value="$(arg shutter_speed_us)"/>
        <param name="iso" value="$(arg iso)"/>
    </node>
</launch>
